<div class="col-md-12 form-horizontal ">
	
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label text-right">Name ~ list values PRODUCT_LINE code</label>
				<input type="text" ng-model="configData.appInfo.product_line_code" class="form-control col-md-8">
			</div>
			 <div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Product_line_desc</label>
				<input type="text" ng-model="configData.appInfo.product_line_desc " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Master product line</label>
				<input type="text" ng-model="configData.appInfo.master_product_line " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Application name</label>
				<input type="text" ng-model="configData.appInfo.application_name " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Type code</label>
				<input type="text" ng-model="configData.appInfo.type_code " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Platform type</label>
				<input type="text" ng-model="configData.appInfo.platform_type " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Strip dash</label>
				<input type="text" ng-model="configData.appInfo.strip_dash" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Sid</label>
				<input type="text" ng-model="configData.appInfo.sid" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Allow any</label>
				<input type="text" ng-model="configData.appInfo.allow_any" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Required apps</label>
				<input type="text" ng-model="configData.appInfo.required_apps " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">Not Compatible apps</label>
				<input type="text" ng-model="configData.appInfo.not_compatible_apps " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">WebLMByPass</label>
				<input type="text" ng-model="configData.appInfo.webLMByPass " class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-4 col-sm-6 col-xs-6 control-label">PLDS release</label>
				<input type="text" ng-model="configData.appInfo.pld_release " class="form-control">
			</div> 
			<div class="col-md-12">
				<!-- <div class="col-md-6 text-left"><button type="button" class="btn btn-info">Previous</button></div> -->
				<!-- <div class="col-md-12 text-center"><button type="button" class="btn btn-info" ng-click="next('info')">Next</button></div> -->
			</div>

</div>