<div class="modal-body ">
	<div class="panel">
		<div class="panel-heading">
			<h3>
				<i class="fa fa-tachometer fa-2x"></i> Edit Feature
			</h3>
		</div>
		<div class="panel-body ">
			
			<div class="col-md-12">
				<table>
				<tr><td>Product feature Id</td><td><input type="text" ng-model="feature.product_feature_Id" class="form-control"/></td></tr>
				<tr><td>Product Version</td><td><input type="text" ng-model="feature.productVersion" class="form-control"/></td></tr>
				<tr><td>Value </td><td><input type="text" ng-model="feature.value" class="form-control"/></td></tr>
				<tr><td>PLDS Release</td><td><input type="text" ng-model="feature.pld_release" class="form-control"/></td></tr>
				<tr><td>Feature Type</td><td><input type="text" ng-model="feature.feature_type" class="form-control"/></td></tr>
				<tr><td>Proudct info id</td><td><input type="text" ng-model="feature.product_info_id" class="form-control"/></td></tr>
				<tr><td>Display Name 5</td><td><input type="text" ng-model="feature.displayName5" class="form-control"/></td></tr>
				<tr><td>Name 4</td><td><input type="text" ng-model="feature.name4" class="form-control"/></td></tr>		
				</table>
				
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    		<button class="btn" ng-click="save()">Save</button>
		</div>
	</div>

</div>

