<div class="modal-body ">
	<div class="panel">
		<div class="panel-heading">
			<h3>
				<i class="fa fa-tachometer fa-2x"></i> Edit Rule
			</h3>
		</div>
		<div class="panel-body ">
			
			<div class="col-md-12">
				<table>
				<tr><td>Product_info_id</td><td><input type="text" ng-model="rule.product_info_id" class="form-control"/></td></tr>
				<tr><td>Version</td><td><input type="text" ng-model="rule.version" class="form-control"/></td></tr>
				<tr><td>Rule </td><td><input type="text" ng-model="rule.rule" class="form-control"/></td></tr>
				<tr><td>Action Type</td><td><input type="text" ng-model="rule.action_type" class="form-control"/></td></tr>
				<tr><td>Unit Action Id</td><td><input type="text" ng-model="rule.unitAction_id" class="form-control"/></td></tr>
				<tr><td>Unit Action Type</td><td><input type="text" ng-model="rule.unitAction_Type" class="form-control"/></td></tr>
				<tr><td>Feature Name</td><td><input type="text" ng-model="rule.feature_Name" class="form-control"/></td></tr>
				<tr><td>To type</td><td><input type="text" ng-model="rule.to_type" class="form-control"/></td></tr>	
				<tr><td>To type setting</td><td><input type="text" ng-model="rule.to_type_setting" class="form-control"/></td></tr>	
				<tr><td>Message Code</td><td><textarea rows="6" ng-model="rule.messageCode" class="form-control"> </textarea></td></tr>	
				<tr><td>PLDS Release</td><td><input type="text" ng-model="rule.pld_release" class="form-control"/></td></tr>		
				</table>
				
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    		<button class="btn" ng-click="save()">Save</button>
		</div>
	</div>

</div>

