<div class="col-md-12 form-horizontal ">
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label text-right">File Name</label>
				<input type="text" ng-model="configData.productInfo.file_name" class="form-control col-md-6">
			</div>
			 <div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">RFA Platform type and filename</label>
				<input type="text" ng-model="configData.productInfo.rfaplatformType_and_file_name" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Counted License timeout</label>
				<input type="text" ng-model="configData.productInfo.countedLicenseTimeout" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Allocation License Duration</label>
				<input type="text" ng-model="configData.productInfo.allocationLicenseDuration2 " class="form-control">
			</div>
			
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Node Locked</label>
				<input type="text" ng-model="configData.productInfo.nodeLocked" class="form-control">
			</div>
			
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">RFA First Application</label>
				<input type="text" ng-model="configData.productInfo.rfafirstApplication" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">RFA Error Prefix</label>
				<input type="text" ng-model="configData.productInfo.rfaerrorPrefix" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Name</label>
				<input type="text" ng-model="configData.productInfo.name" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">DisplayName ISV property1</label>
				<input type="text" ng-model="configData.productInfo.displayName_ISV_property1" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Default UniqueId</label>
				<input type="text" ng-model="configData.productInfo.defaultUniqueId" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Product Name</label>
				<input type="text" ng-model="configData.productInfo.productName" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Production Version</label>
				<input type="text" ng-model="configData.productInfo.productVersion" class="form-control">
			</div>
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Feature Validation</label>
				<input type="text" ng-model="configData.productInfo.featureValidation" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">AddWarningMessages</label>
				<input type="text" ng-model="configData.productInfo.addWarningMessages" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">RFA Application</label>
				<input type="text" ng-model="configData.productInfo.rfaApplication" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Allocation License Duration2</label>
				<input type="text" ng-model="configData.productInfo.allocationLicenseDuration2" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Generate LAR</label>
				<input type="text" ng-model="configData.productInfo.generateLAR" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">isMultiApp</label>
				<input type="text" ng-model="configData.productInfo.isMultiApp" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Include Certificates</label>
				<input type="text" ng-model="configData.productInfo.includeCertificates" class="form-control">
			</div> 
			<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Product Default Password</label>
				<input type="text" ng-model="configData.productInfo.productDefaultPassword" class="form-control">
			</div>
				<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Product Default Algorithm</label>
				<input type="text" ng-model="configData.productInfo.productDefaultAlgorithm" class="form-control">
			</div> 
				<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">Name 2</label>
				<input type="text" ng-model="configData.productInfo.name2" class="form-control">
			</div> 
				<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">DisplayName3</label>
				<input type="text" ng-model="configData.productInfo.displayName3" class="form-control">
			</div> 
				<div class="form-group form-inline col-md-12">
				<label class="col-md-6 col-sm-6 col-xs-6 control-label">PLDS release</label>
				<input type="text" ng-model="configData.productInfo.pld_release" class="form-control">
			</div>  
			<div class="col-md-12">
				<!-- <div class="col-md-6 text-center"><button type="button" class="btn btn-info" ng-click="next('config')">Configuration</button></div>
				<div class="col-md-6 text-center"><button type="button" class="btn btn-info" ng-click="next('features')">Features</button></div> -->
			</div>

</div>