<div class="col-md-12" ng-show="status">
	<div class="col-md-12 text-right"><a ng-click="editRule('')">Add new Rule</a></div>
	<div class="col-md-12">
	<table class="table table-striped table-hover">
		
			
				<tr><!-- <td>RuleId</td> --><th>Version</th><th>Rule</th><th>Action Type</th><th>Unit Action Id</th><th>Unit Action Type</th>
				<th>Feature Name</th><th>To Type</th><th>To Type Setting</th><th>Message Code</th><th>PLDS Release</th><th>Action</th></tr>
			<tr ng-repeat="rule in configData.rulesList">
				<!-- <td>{{rule.product_info_id}}</td> -->
				<td>{{rule.version}}
				<td>{{rule.rule}}</td>
				<td>{{rule.action_type}}</td>
				<td>{{rule.unitAction_id}}</td>
				<td>{{rule.unitAction_Type}}</td>
				<td>{{rule.feature_Name}}</td>
				<td>{{rule.to_type}}</td>
				<td>{{rule.to_type_setting}}</td>
				<td>{{rule.messageCode}}</td>
				<td>{{rule.pld_release}}</td>
				<td><p>
					<a ng-click="editRule(rule)"><i
						class="glyphicon glyphicon-pencil"> </i></a> <a ng-click="deleteObject(rule,'2')"> <i class="glyphicon glyphicon-trash">
					</i>
					</a>
					</p>
				</td>
			</tr>		
	</table>
</div>

<div class="col-md-12">
			<!-- 	<div class="col-md-4 text-center"><button type="button" class="btn btn-info" ng-click="next('info')">Features</button></div>
				<div class="col-md-4 text-center"><button type="button" class="btn btn-info" ng-click="saveData()">Save</button></div>
				<div class="col-md-4 text-center"><button type="button" class="btn btn-danger" ng-click="remove()">Cancel</button></div> -->
			</div>

</div>