<div class="col-md-12" ng-show="status">
	
<div class="col-md-12">
	<table class="table table-striped">
		
			<tr>
				<td>File Name</td>
				<td>{{configData.productInfo.file_name}}</td>
			</tr>
			<tr>
				<td>RFA Platform type and filename</td>
				<td>{{configData.productInfo.rfaplatformType_and_file_name}}</td>
			</tr>
			<tr>
				<td>Counted License timeout</td>
				<td>{{configData.productInfo.countedLicenseTimeout}}</td>
			</tr>
			<tr>
				<td>Allocation License Duration</td>
				<td>{{configData.productInfo.allocationLicenseDuration2}}</td>
			</tr>
			<tr>
				<td>Node Locked</td>
				<td>{{configData.productInfo.nodeLocked}}</td>
			</tr>
			<tr>
				<td>RFA First Application</td>
				<td>{{configData.productInfo.rfafirstApplication}}</td>
			</tr>
			<tr>
				<td>RFA Error Prefix</td>
				<td>{{configData.productInfo.rfaerrorPrefix}}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{configData.productInfo.name}}</td>
			</tr>
			<tr>
				<td>DisplayName ISV property1</td>
				<td>{{configData.productInfo.displayName_ISV_property1}}</td>
			</tr>
			<tr>
				<td>Default UniqueId</td>
				<td>{{configData.productInfo.defaultUniqueId}}</td>
			</tr>
			<tr>
				<td>Product Name</td>
				<td>{{configData.productInfo.productName}}</td>
			</tr>
			<tr>
				<td>Production Version</td>
				<td>{{configData.productInfo.productVersion}}</td>
			</tr>
			<tr>
				<td>Feature Validation</td>
				<td>{{configData.productInfo.featureValidation}}</td>
			</tr>

			<tr>
				<td>AddWarningMessages</td>
				<td>{{configData.productInfo.addWarningMessages}}</td>
			</tr>
			<tr>
				<td>RFA Application</td>
				<td>{{configData.productInfo.rfaApplication}}</td>
			</tr>
			<tr>
				<td>Allocation License Duration2</td>
				<td>{{configData.productInfo.allocationLicenseDuration2}}</td>
			</tr>
			<tr>
				<td>Generate LAR</td>
				<td>{{configData.productInfo.generateLAR}}</td>
			</tr>
			<tr>
				<td>isMultiApp</td>
				<td>{{configData.productInfo.isMultiApp}}</td>
			</tr>
			<tr>
				<td>Include Certificates</td>
				<td>{{configData.productInfo.includeCertificates}}</td>
			</tr>
			<tr>
				<td>Product Default Password</td>
				<td>{{configData.productInfo.productDefaultPassword}}</td>
			</tr>
			<tr>
				<td>Product Default Algorithm</td>
				<td>{{configData.productInfo.productDefaultAlgorithm}}</td>
			</tr>
			<tr>
				<td>Name 2 </td>
				<td>{{configData.productInfo.name2}}</td>
			</tr>
			<tr>
				<td>DisplayName3</td>
				<td>{{configData.productInfo.displayName3}}</td>
			</tr>
			<tr>
				<td>PLD release</td>
				<td>{{configData.productInfo.pld_release}}</td>
			</tr>
		
	</table>
	
</div>

<div class="col-md-12">
	<p><a class="btn btn-primary text-left" ui-sref-active="active" ui-sref=".form1">Configuration</a>
	<a class="btn btn-primary text-right" ui-sref=".form3" >Features</a></p>
</div>

</div>