<div class="col-md-12" ng-show="status">
	
	<table class="table table-striped">
		
			<tr>
				<td>Name ~ list values PRODUCT_LINE code</td>
				<td>{{configData.appInfo.product_line_code}}</td>
			</tr>
			<tr>
				<td>Product_line_desc</td>
				<td>{{configData.appInfo.product_line_desc}}</td>
			</tr>
			<tr>
				<td>Master product line</td>
				<td>{{configData.appInfo.master_product_line}}</td>
			</tr>
			<tr>
				<td>Application name</td>
				<td>{{configData.appInfo.application_name}}</td>
			</tr>
			<tr>
				<td>Type code</td>
				<td>{{configData.appInfo.type_code}}</td>
			</tr>
			<tr>
				<td>Platform type</td>
				<td>{{configData.appInfo.platform_type}}</td>
			</tr>
			<tr>
				<td>Strip dash</td>
				<td>{{configData.appInfo.strip_dash}}</td>
			</tr>
			<tr>
				<td>Sid</td>
				<td>{{configData.appInfo.sid}}</td>
			</tr>
			<tr>
				<td>Allow any</td>
				<td>{{configData.appInfo.allow_any}}</td>
			</tr>
			<tr>
				<td>Required apps</td>
				<td>{{configData.appInfo.required_apps}}</td>
			</tr>
			<tr>
				<td>Not comptable apps</td>
				<td>{{configData.appInfo.not_compatible_apps}}</td>
			</tr>
			<tr>
				<td>WebLMByPass</td>
				<td>{{configData.appInfo.webLMByPass}}</td>
			</tr>
			<tr>
				<td>PLDS release</td>
				<td>{{configData.appInfo.pld_release}}</td>
			</tr>
		
	</table>


</div>